[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
urllib3 = ">=1.24.2"
requests = "*"
websockets = "*"
pick = "*"
coverage = "*"
nose = "*"
SQLAlchemy = ">=1.3.0"
pymysql = "*"
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-testing = "*"
testing-mysqld = "*"
uwsgi = "*"
